
header {
    background-color: #84d7f8;
    color: #fff;
    padding: 10px;
    text-align: center;
}

body {
    background-image: url('./Assets/images/bg.jpg');
    background-size: cover;
    background-position: center; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    margin: 0px;
    padding:0px;
}

footer {
    background-color: #84d7f8;
    color: #fff;
    
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    font-family: "Arial", sans-serif; 
}

ul li.project1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #ffcccc; 
  
}

ul li.project2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #ccffcc;

}

ul li.project3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #ccccff; 
   
}


ul li:hover {
    background-color: #84d7f8; 
}